---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

## 👨🏽‍🏫 Teaching Experience
My teaching philosophy in applied mathematics, data science, statistics, and machine learning is centered on fostering a deep understanding of theoretical concepts and encouraging their practical application through problem-solving and project-based learning. This approach sharpens students' computational, analytical, and critical thinking skills while promoting creativity. **I also integrate responsible and ethical AI into my curriculum**, emphasizing the importance of ethical considerations and societal impacts, preparing students to be conscientious professionals. With over a decade of experience, I adapt my teaching methods to meet diverse student needs and learning styles, focusing on active engagement to enhance understanding and retention.

### Courses Taught at Jacksonville University

- Math 470: Machine Learning Algorithms
- Math 478R: Statistical Learning
- Math 170: Data Science Foundations
- Math 270: Introduction to Data Science
- Math 420: Linear Algebra II
- Math 315: Probability Theory
- Math 331: Differential Equations

### Courses Taught at Auburn University
- MATH 1000: COLLEGE ALGEBRA
- MATH 1150: PRE-CALCULUS ALGEBRA AND TRIGONOMETRY
- MATH 1610: CALCULUS I
- MATH 1620 CALCULUS II
- MATH 2630 CALCULUS III
- Tutoring
    - MATH 2650: LINEAR DIFFERENTIAL EQUATIONS
    - MATH 2660: TOPICS IN LINEAR ALGEBRA
    - All the undergraduate math and stat courses
